.create-admin-container {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  margin: 20px;
}

/* .create-admin-fields {
  margin: 10 !important;
} */
.MuiInputBase-input {
  /* margin: 10 !important; */
  /* width: 100%; */
}
.row{
  padding-left:50px ;
}

.add-admin-submitBtn{
  
  background-color: #6f2da8;
}
.add_admin_icon{
  width: 20%;
  font-size: 8rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2%;
  color: #c4c4c4;
}