.admin-card-con{
 margin-left:0px;
}
.admin-card{
  display:flex;
  flex-direction:column;
  border-radius: 25px;
  background-color: #fcfcfc;
  height: 250px;
  width:250px;
  box-shadow: 0 2px 5px rgb(38, 35, 35);
  text-align: center;
  color:#6f2da8;
  margin-right:40px;
  position: relative;
  margin-top:30px;
  justify-content: center;
}

.admin_icon{
  font-size: 5rem;
  color: #c4c4c4;
}

.delete_admin_icon{
  position: absolute;
  right: 1.2rem;
  top: 1rem;
  font-size: 1.5rem;
  color:#6f2da8;
  cursor: pointer;
}
.ad-img{
  margin-top:10px;
}
.adm-detail{
  margin-bottom:20px;
}
.circle-img {
    border-radius: 50%;
    border: 7px solid rgb(255, 245, 245);
    width: 120px;
    height: 120px;
  
  }
.ad-name{
  font-size:1.5rem;
  padding-top:0px;
  font-weight:bold;
}


