.sup{
    display: inline-flex;
    flex-direction: row;
    background-color: #ffffff;
    border-radius: 9px;
    margin-top:30px;
    
    height:50px;
    width:850px;
    box-shadow:  5px 5px 5px grey;
    
}
h5{
   
    color:rgb(90, 79, 189);
    padding-top:15px;
    margin-top:0px;
    margin-bottom:0px;
    margin-right:80px;
    
    font-size:1rem;
    font-weight: bold;
}
.sup-icon{
    padding:15px;
    color:rgb(90, 79, 189);
}
